// HEADER

.header-container {
    background-image: 
        // linear-gradient(rgba(0, 0, 0, 0.3)),
        url("./assets/header-image.jpg");
    // background: linear-gradient(45deg, #F3C5C3  20%, #BEDEDB 80%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    // overflow: hidden;
    height: 100vh;
}

h1,
h2,
ul,
p {
    margin: 0 auto;
    text-align: center;
}
h1 {
    padding-bottom: 10px;
}

.track-in {
	-webkit-animation: track-in 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) .5s both;
	animation: track-in 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) .5s both;
}

@-webkit-keyframes track-in {
    0% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    opacity: 1;
    }
}

@keyframes track-in {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}


.greeting-container {
    margin-top: 300px;
}

// NAVIGATION
.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
    overflow: hidden;

    .nav {
        background: #000000;
        width: 100%;
        padding: 5px 0;
        position: fixed;
        overflow: hidden;
        z-index: 1;
        top: 0;
        ul {
            display: flex;
            justify-content: flex-end;
            padding-right: 20px;
        }
            a {
                padding: 11px 25px;
            }

                li:hover a{
                    background: white;
                    color: black;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                }

                li:active a {
                    background: black;
                    box-shadow: 0 2px #666;
                    transform: translateY(4px);
                }
    }
}

.logo {
    color: #FFF0F5;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 7px 0 7px 20px;
}

.hamburger-menu {
    cursor: pointer;
    background: #000000;
    width: 100%;
    color: white;
    text-align: right;
    padding: 5px 20px;
    position: fixed;
    z-index: 1;
    display: block;
    overflow: hidden;

}

.side-nav {
    padding: 5px 0 5px 0;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    // position: fixed;
    z-index: 1;
    top: 40px;
    right: 0;
    overflow: hidden;
    height: 26%;
    width: 100%;
    li {
        padding-top: 5px;
    }
    li a {
        display: flex;
        justify-content: flex-end;
        color: #A9A9A9;
        padding-right: 20px;
    }
    li:hover a{
        color: white;
    }
}

.down-arrow {
    margin-top: 130px;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation: bounce 3.6s ease infinite;
    transform-origin: 50% 50%;
}

// Down arrow on header animation

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    5.55556% {
        transform: translateY(0);
    }
    11.11111% {
        transform: translateY(0);
    }
    22.22222% {
        transform: translateY(-15px);
    }
    27.77778% {
        transform: translateY(0);
    }
    33.33333% {
        transform: translateY(-15px);
    }
    44.44444% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

