// HEADER

.header-container {
    background-image: url("./assets/asoggetti-gdE-5Oui1Y0-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

h1,
ul {
    margin: 0 auto;
}

// NAVIGATION
