$font-color: #112d4e;
$secondary-font-color: #000000;
// $header-font-color: #112d4e;
// $accents-color: ; 

$base-font: 'Playfair Display', serif;
$body-font: 'Fira Sans', sans-serif;

// f9e7e7
// FFFACD
// 0a2239
// 0F3457

